@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply bg-[#040714] text-[#f9f9f9] font-body scrollbar-hide;
  }
}

@layer components {
  .header-link {
    @apply flex items-center space-x-2 cursor-pointer;
  }

  .brand {
    @apply flex relative w-52 h-32 sm:w-64 sm:h-36 border-[3px] border-[#f9f9f9] border-opacity-10 rounded-lg cursor-pointer shadow-xl overflow-hidden  hover:border-opacity-80 hover:shadow-2xl transform hover:scale-105 transition duration-300;
  }
}
